/* Ejercicio 12
Crear un “chatBox” donde tome los datos de un input y los muestre, (Se debe usar HTML,
CSS y JavaScript). */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: monospace;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox{
    background-color: brown;
    height: 250em;
    width: 180em;
    border-radius: 10px;
    padding: 1%;
}

#msgs{
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
}

#msgs > li{
    margin: 0 8em 20em 8em;
    background-color: aquamarine;
    border-radius: 10px;
}

#formu{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.msg-escrito{
    font-size: 10em;
    width: 70%;
    height: 30%;
}

.submit{
    width: 6em;
    height: 2.2em;
    font-size: 10em;
}

.chat{
    position: relative;
    left: 1em;
    font-size: 30em;
}